.nav {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    display: flex;
    padding: 20px;
    height: 20px;
    left: 0;
    justify-content: left;
    /* Animation */
    transition-timing-function: ease-in;
    transition: all 0.5s;
    /* background */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }
  
  .user {
    border-radius: 8px;
    position: fixed;
    top: 10px;
    right: 20px;
    width: 40px;
    object-fit: contain;
  }
  
  .nav_black {
    background-color: #1b1b1b;
    transition: ease-in-out 800ms;
  }
  
  .nav_logo {
    margin-left:2.2em;
    height: 2em;
  }
  
  .nav_menu {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 2em;
  }
  
  .nav_item {
    color: white;
    margin-left: 1.4em;
    font-size: 20px;
    font-weight:normal ;
    text-decoration: none;
    transition: ease-in-out 600ms;
  }
  .nav_item_black {
    color: whitesmoke;
  }
  .nav_item:hover {
    color: rgb(155, 155, 155);
  }

  @media (max-width: 960px) {
    .nav_logo {
      margin-left:0.3em;
      height: 1.5em;
    }
    .nav_menu {
      margin-left:0.6em;
    }
    .nav_item {
      margin-left:0.8em;
    } 
  }

  @media (max-width: 600px) {
    .nav_logo {
    margin-left:0.1em;
    height: 1em;
  }
  .nav_item {
    font-size: 11px;
    margin-left:0.4em;
  } 
}